body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #222222;
  background-color: #FAFAFAFA;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

table td {
  vertical-align: top;
}

/* Layout */
.email-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.email-header {
  background-color: #0070f3;
  padding: 24px;
  color: #ffffff;
}

.email-body {
  background-color: #ffffff;
  padding: 24px;
}

.email-footer {
  background-color: #F6F6F6;
  padding: 24px;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #0070f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-emphasis: none;
  padding: 12px 24px;
  border-radius: 4px;
}
